html{
    background-color: rgb(238,238,238);
}

.article-title{
    position: absolute;
    color: white;
    top: 200px;
    left: 35%;
    transform: translateX(-50%);
         }
.nav-img{
    width: 100%;
    height: 100%;
}
